松江短信发送服务/PromptMessage/MessageDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.shanghai3h.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://www.shanghai3h.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.shanghai3h.com/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTX_MessageData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="I_FASONGLX" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="I_FASONGZT" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTX_MessageDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTX_MessageDataResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTX_MessageData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="JLID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="I_FASONGLX" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="I_FASONGZT" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="S_HuiFu" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTX_MessageDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateTX_MessageDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetTX_MessageDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetTX_MessageData" />
  </wsdl:message>
  <wsdl:message name="GetTX_MessageDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetTX_MessageDataResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTX_MessageDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTX_MessageData" />
  </wsdl:message>
  <wsdl:message name="UpdateTX_MessageDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTX_MessageDataResponse" />
  </wsdl:message>
  <wsdl:portType name="MessageDataServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">默认方法</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTX_MessageData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取信息发送数据</wsdl:documentation>
      <wsdl:input message="tns:GetTX_MessageDataSoapIn" />
      <wsdl:output message="tns:GetTX_MessageDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTX_MessageData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">更新消息发送状态及备注</wsdl:documentation>
      <wsdl:input message="tns:UpdateTX_MessageDataSoapIn" />
      <wsdl:output message="tns:UpdateTX_MessageDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageDataServiceSoap" type="tns:MessageDataServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://www.shanghai3h.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTX_MessageData">
      <soap:operation soapAction="http://www.shanghai3h.com/GetTX_MessageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTX_MessageData">
      <soap:operation soapAction="http://www.shanghai3h.com/UpdateTX_MessageData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MessageDataServiceSoap12" type="tns:MessageDataServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://www.shanghai3h.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTX_MessageData">
      <soap12:operation soapAction="http://www.shanghai3h.com/GetTX_MessageData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTX_MessageData">
      <soap12:operation soapAction="http://www.shanghai3h.com/UpdateTX_MessageData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageDataService">
    <wsdl:port name="MessageDataServiceSoap" binding="tns:MessageDataServiceSoap">
      <soap:address location="http://172.30.0.189:8669/MessageDataService.asmx" />
    </wsdl:port>
    <wsdl:port name="MessageDataServiceSoap12" binding="tns:MessageDataServiceSoap12">
      <soap12:address location="http://172.30.0.189:8669/MessageDataService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>